.side-bar
  .top
    .top__name
      yoshiya
    %ul.top__icon
      %li.top__icon__edit-user
        = link_to "#" do
          = icon('fas','edit')
      %li.top__icon__new-group
        = link_to "#" do
          = icon('fas','cog')
  .bottom
    .bottom__group
      .bottom__group__name
        g group
      .bottom__group__new